@page
@model ShopDevelop.WebMVC.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section class="auth" id="auth">
    <div class="container">
        <div class="auth__inner">
            <form class="auth-form" asp-route-returnUrl="@ViewBag.returnUrl" method="post">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>

                <h1 class="auth-title">Register</h1>
                <p class="auth-other-text-info">Create an account so you can start shopping.</p>

                <h4 class="auth-subtitle">BASIC INFORMATION</h4>

                <input asp-for="@Model.Email" class="auth-input" type="email" placeholder="Email"
                       id="login-input" class="login-input">
                <input asp-for="@Model.Password" class="auth-input" type="password" placeholder="Password"
                       id="pass-input" class="pass-input">
                <input asp-for="@Model.ConfirmPassword" class="auth-input" type="password"
                       placeholder="Repeat Password" id="pass-input" class="pass-input">

                <p class="auth-other-text">Already have an account?</p>
                <a class="auth-login__link" href="/security/login">Log In</a>
                <br>
                <button class="btn-submit" type="submit">CREATE</button>
            </form>
        </div>
    </div>
</section>