<!-- Product Page Section -->
<section class="product" id="product">
    @{
        foreach (var product in Model)
        {
            <section class="product" id="product">
                <div class="container">
                    <div class="product__inner">
                        <div class="product__section">
                            <div class="product_images-view">
                                <div class="product_images_section">

                                    <img class="product_main-image" src="@product.ImagePath" alt="">

                                    <ul class="product_image__items">
                                        <li class="product_image__item">
                                            <img class="product__sub-image" src="~/images/Products/Product/mini__image_1.jpg" alt="">
                                        </li>
                                        <li class="product_image__item">
                                            <img class="product__sub-image img-off" src="~/images/Products/Product/mini__image_1.jpg" alt="">
                                        </li>
                                        <li class="product_image__item">
                                            <img class="product__sub-image img-off" src="~/images/Products/Product/mini__image_1.jpg" alt="">
                                        </li>
                                        <li class="product_image__item">
                                            <img class="product__sub-image img-off" src="~/images/Products/Product/mini__image_1.jpg" alt="">
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-prices__section">
                                    <p class="product-price-subtitle-1">@product.Discount %</p>
                                    <p class="product-price-subtitle-2">@product.OldPrice ₽</p>
                                    <p class="product-price-title">@product.Price ₽</p>
                                </div>
                            </div>

                            <div class="product-parameters-view">
                                <h3 class="product-name">@product.Name</h3>

                                <ul class="product-stars">
                                    <li class="product-star">
                                        <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                    </li>
                                    <li class="product-star">
                                        <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                    </li>
                                    <li class="product-star">
                                        <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                    </li>
                                    <li class="product-star">
                                        <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                    </li>
                                    <li class="product-star">
                                        <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                    </li>
                                </ul>
                                <p class="reviews-star">(129)</p>

                                <div class="product-main-info">
                                    <ul class="product-main-info-parameters">
                                        <li class="product-main-info-parameter">
                                            <span class="product-main-info__item">Article:</span>
                                            <span class="product-main-info__subitem">@product.Article</span>
                                            <!-- <hr> -->
                                        </li>
                                        <li class="product-main-info-parameter">
                                            <span class="product-main-info__item">Composition:</span>
                                            <span class="product-main-info__subitem">@product.Composition</span>
                                            <!-- <hr> -->
                                        </li>
                                        <li class="product-main-info-parameter">
                                            <span class="product-main-info__item">Model parameters in the photo:</span>
                                            <span class="product-main-info__subitem">174/S</span>
                                            <!-- <hr> -->
                                        </li>
                                        <li class="product-main-info-parameter">
                                            <span class="product-main-info__item">Features of the model:</span>
                                            <span class="product-main-info__subitem">unisex</span>
                                            <!-- <hr> -->
                                        </li>
                                    </ul>
                                </div>

                                <div class="bottom-info">
                                    <h3 class="product-subtitle-colors">Colors</h3>
                                    <div class="product-colors">
                                        <div class="product-color product-color_1"></div>
                                        <div class="product-color product-color_2"></div>
                                        <div class="product-color product-color_3"></div>
                                        <div class="product-color product-color_4"></div>
                                        <div class="product-color product-color_5"></div>
                                        <div class="product-color product-color_6"></div>
                                    </div>

                                    <h3 class="product-subtitle-sizes">Size</h3>

                                    <div class="product-sizes">
                                        <div class="product-size product-size_1">
                                            <p class="product-size-text">XS</p>
                                        </div>
                                        <div class="product-size product-size_2">
                                            <p class="product-size-text">S</p>
                                        </div>
                                        <div class="product-size product-size_3">
                                            <p class="product-size-text">M</p>
                                        </div>
                                        <div class="product-size product-size_4">
                                            <p class="product-size-text">L</p>
                                        </div>
                                        <div class="product-size product-size_5">
                                            <p class="product-size-text">XL</p>
                                        </div>
                                        <div class="product-size product-size_6">
                                            <p class="product-size-text">2X</p>
                                        </div>
                                    </div>
                                    <div class="prod-btn__inner">
                                        <button class="product-btn__add">Add</button>
                                        <button class="product-btn__like">
                                            <img src="~/images/Products/Product/like.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section__menu">
                            <h3 class="section__menu-title">Reviews</h3>
                            <button class="btn-desc" id="btn-desc">All characteristics and description</button>
                        </div>


                        <div class="section__info" id="section__info">
                            <div class="reviews__inner">
                                <div class="review__item">
                                    <div class="top__review-section__inner">
                                        <div class="info__user_profile__inner">
                                            <img src="~/images/Products/Product/avatar.svg" alt="" class="info__avatar">
                                            <div class="info__user_profile__inner__ititial">
                                                <p class="info__user-name">Any Leonhard</p>
                                                <p class="info__user__reviews__date">May 29 at 20:03</p>
                                            </div>
                                        </div>
                                        <ul class="product-stars star__section-info">
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review-text__inner">

                                        <p class="info__user__text">
                                            A few large drops of glue, for such an amount, I think it is
                                            unacceptable.
                                        </p>
                                    </div>
                                </div>

                                <div class="review__item">
                                    <div class="top__review-section__inner">
                                        <div class="info__user_profile__inner">
                                            <img src="~/images/Products/Product/avatar.svg" alt="" class="info__avatar">
                                            <div class="info__user_profile__inner__ititial">
                                                <p class="info__user-name">Any Leonhard</p>
                                                <p class="info__user__reviews__date">May 29 at 20:03</p>
                                            </div>
                                        </div>
                                        <ul class="product-stars star__section-info">
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review-text__inner">

                                        <p class="info__user__text">
                                            A few large drops of glue, for such an amount, I think it is
                                            unacceptable.
                                        </p>
                                    </div>
                                </div>

                                <div class="review__item">
                                    <div class="top__review-section__inner">
                                        <div class="info__user_profile__inner">
                                            <img src="~/images/Products/Product/avatar.svg" alt="" class="info__avatar">
                                            <div class="info__user_profile__inner__ititial">
                                                <p class="info__user-name">Any Leonhard</p>
                                                <p class="info__user__reviews__date">May 29 at 20:03</p>
                                            </div>
                                        </div>
                                        <ul class="product-stars star__section-info">
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review-text__inner">
                                        <p class="info__user__text">
                                            A few large drops of glue, for such an amount, I think it is
                                            unacceptable.
                                        </p>
                                    </div>
                                </div>

                                <div class="review__item">
                                    <div class="top__review-section__inner">
                                        <div class="info__user_profile__inner">
                                            <img src="~/images/Products/Product/avatar.svg" alt="" class="info__avatar">
                                            <div class="info__user_profile__inner__ititial">
                                                <p class="info__user-name">Any Leonhard</p>
                                                <p class="info__user__reviews__date">May 29 at 20:03</p>
                                            </div>
                                        </div>
                                        <ul class="product-stars star__section-info">
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                            <li class="product-star">
                                                <img src="~/images/Products/Product/Star.png" alt="" class="product-star__img">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review-text__inner">

                                        <p class="info__user__text">
                                            A few large drops of glue, for such an amount, I think it is
                                            unacceptable.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="max-info__inner">
                                <ul class="product-main-info-parameters section__info_product-main-info-parameters">
                                    <li class="product-main-info-parameter">
                                        <span class="product-main-info__item">Article:</span>
                                        <span class="product-main-info__subitem">000000001</span>
                                    </li>
                                    <li class="product-main-info-parameter">
                                        <span class="product-main-info__item">Composition:</span>
                                        <span class="product-main-info__subitem">cotton</span>
                                    </li>
                                    <li class="product-main-info-parameter">
                                        <span class="product-main-info__item">Model parameters in the photo:</span>
                                        <span class="product-main-info__subitem">174/S</span>
                                    </li>
                                    <li class="product-main-info-parameter">
                                        <span class="product-main-info__item">Features of the model:</span>
                                        <span class="product-main-info__subitem">unisex</span>
                                    </li>
                                    <li class="product-main-info-parameter">
                                        <span class="product-main-info__item">Sleeve Type:</span>
                                        <span class="product-main-info__subitem">Long</span>
                                    </li>
                                    <li class="product-main-info-parameter">
                                        <span class="product-main-info__item">Features of the model:</span>
                                        <span class="product-main-info__subitem">unisex</span>
                                    </li>
                                    <li class="product-main-info-parameter">
                                        <span class="product-main-info__item">The cut:</span>
                                        <span class="product-main-info__subitem">oversize</span>
                                    </li>
                                </ul>

                                <div class="description-text__inner">
                                    <h3 class="info__description-title">Description</h3>
                                    <p class="description-text">
                                        @product.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
</section>
 



