@*@model ShopDevelop.WebMVC.ViewModels.ProductViewModel

<li class="cart__product">
    <img class="cart__product-img" src="@Model.ImagePath" alt="">
    <div class="cart__product-info">
        <div class="cart__product-info-top">
            <p class="cart__product-name">@Model.Name</p>
            <p class="cart__product-size">@Model.Size</p>
        </div>

        <div class="cart__product-info-bottom">
            <p class="cart__product-score">@Model.Count</p>
            <p class="cart__product-price">@Model.Price ₽</p>
        </div>
    </div>
</li>*@