@{
    foreach (var prodcut in Model)
    {
        <li class="catalog__product">
            <img class="catalog__product-img" src="@prodcut.ImageMiniPath" alt="">
            <div class="catalog__product__inner">
                <a asp-controller="Product" asp-action="Index" asp-route-id=@prodcut.Id class="catalog__name">@prodcut.ProductName</a>
                <p class="seller__name">@prodcut.Seller.FirstName</p>
                <div class="rating">
                    <ul class="catalog-stars">
                        <li class="catalog-star">
                            <img src="~/images/Managment/Star.png" alt="" class="product-star__img">
                        </li>
                        <li class="catalog-star">
                            <img src="~/images/Managment/Star.png" alt="" class="product-star__img">
                        </li>
                        <li class="catalog-star">
                            <img src="~/images/Managment/Star.png" alt="" class="product-star__img">
                        </li>
                        <li class="catalog-star">
                            <img src="~/images/Managment/Star.png" alt="" class="product-star__img">
                        </li>
                        <li class="catalog-star">
                            <img src="~/images/Managment/Star.png" alt="" class="product-star__img">
                        </li>
                        <p class="catalog__reviews-star">(129)</p>
                    </ul>
                </div>
                <div class="bottom-paner__inner">
                    <div class="catalog-prices__inner">
                        <p class="price">@prodcut.Price ₽</p>
                        <p class="other-price">@prodcut.OldPrice ₽</p>
                        <p class="discount-price">@prodcut.Discount %</p>
                    </div>
                    <div class="catalog-buttons__inner">
                        <a class="catalog-like__btn catalog-bottom__btn">
                            <img class="catalog-like__btn-image" src="~/images/Managment/like.svg" alt="">
                        </a>
                        <a asp-controller="Cart" asp-action="Add" asp-route-id=@prodcut.Id class="catalog-cart__btn catalog-bottom__btn">
                            <img class="catalog-cart__btn-image" src="~/images/Managment/cart.svg" alt=""
                            onclick="">
                        </a>
                    </div>
                </div>
            </div>
        </li>
    }
}
    